body {
    max-width: 1024px;
    margin: 0 auto;
}

div {
    display: block;
}
.topnav {
    background-color: #F4A460;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Indie Flower', cursive;
    
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
#headerimg {
    display: block;
    width: 1024px;
}

img {
    width: 100%;
    height: auto;
}

header {
    width: 1024px;
    height: 888px;
    position: relative;
    background-image: url("../img/resized-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.intro {
    position: absolute;
    top: 150px;
    left: 100px;
    display: block;
    background-size: 30% 30%;
    margin-left: 300px;
    margin-top: 50px;
}

h1 {
    margin: 0%;
    font-size: 60px;
    color: #FFF;
    font-family: 'Indie Flower', cursive;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-align: center;
    
}

.header-button {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Georgia;
  color: #f4a560;
  font-size: 15px;
   padding: 7px 8px 9px 12px;
  text-decoration: none;
  margin: 0%;
}

.header-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
 
h2 {
    margin: 0%;
    font-size: 60px;
    color: #FF6E40;
    font-family: 'Indie Flower', cursive;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-align: center;
    
    
}

.heading {
    font-size: 70px;
    text-align: center;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#about img {
    height: 250px;
    width: 230px;
    margin: 50px 80px;
    display: inline-block;
    
    
    
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


.required{
    color:red;
    font-weight:normal;
}

form {
    display: block;
    margin-top: 0em;
    top: 100px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

label {
    cursor: default;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    -webkit-appearance: textfield;
    background-color: #f2f2f2;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: textarea;
    background-color: #f2f2f2;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

input[type=submit] {
    width: 100%;
    background-color: #f2f2f2;
    color: red;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
#links img {
    height: 50px;
    width: 50px;
}

